@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/kopubbatang.css');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: 'Inter', sans-serif, 
  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-rendering: optimizeSpeed;
}

.action-button {
  @apply w-6 h-6 rounded-5
}

.table-cell {
  @apply mb-0 text-15 font-semibold font-inter
}

.pagination-active .ant-pagination-item-active{
  border-color: transparent;
  background-color: rgba(249, 175, 94, 0.9);
}

.pagination-active .ant-pagination-item-active a{
  color: white;
}

.table-header .ant-table-column-sorter-up.active {
  color: rgba(249, 175, 94, 0.9);
}

.table-header .ant-table-column-sorter-down.active {
  color: rgba(249, 175, 94, 0.9);
}