@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/kopubbatang.css");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeSpeed;
}

div.row {
  margin-bottom: 0px;
}

.title {
  @apply text-30 font-inter font-bold mb-0;
}

.subtitle {
  @apply ml-[15px] text-15 font-semibold text-black80 mb-0;
}

.row {
  @apply flex items-center;
}

.between-row {
  @apply flex justify-between items-center;
}

.buttons-row {
  @apply row gap-x-[10px];
}

.button {
  @apply h-[40px] w-[100px] rounded-5 bg-primary text-[#9098B1] font-bold text-14;
}

.clear-button {
  @apply bg-white h-[40px] w-[100px] rounded-5 border-1 border-black;
}

.clear-button p {
  @apply mb-0 text-14 font-semibold;
}

.action-button {
  @apply w-6 h-6 rounded-5;
}

.cancel-button {
  @apply h-[34px] border-1 border-black rounded-5 px-[10px] text-15 hover:border-secondary hover:text-secondary;
}

.confirm-button {
  @apply h-[34px] bg-[#F9AF5EE5] rounded-5 px-[10px] text-15 text-white ml-5 hover:bg-[#C85A27];
}

.import-button {
  @apply w-[100px] h-[34px] rounded-5 border-1 font-inter font-semibold text-14;
}

.add-color-button {
  @apply w-[90px] h-[34px] border-1 border-black50 text-15 text-black50 rounded-5 hover:border-secondary hover:text-secondary
}

.table-cell {
  @apply mb-0 text-15 font-semibold font-inter;
}

.table-cell-medium {
  @apply mb-0 text-15 font-medium font-inter;
}

.pagination-active .ant-pagination-item-active {
  border-color: transparent;
  background-color: rgba(249, 175, 94, 0.9);
}

.pagination-active .ant-pagination-item-active a {
  color: white;
}

.ant-pagination .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination .ant-pagination-next .ant-pagination-item-link {
  @apply flex items-center justify-center;
}

.table-header .ant-table-column-sorter-up.active {
  color: rgba(249, 175, 94, 0.9);
}

.table-header .ant-table-column-sorter-down.active {
  color: rgba(249, 175, 94, 0.9);
}

.options .ant-segmented-group {
  @apply h-full;
}

.options .ant-segmented-item {
  @apply flex items-center;
}

.select-option {
  @apply font-inter font-medium text-[16px] mb-0;
}

.ant-segmented-item-label {
  @apply text-15 font-inter font-semibold;
}

.ant-segmented-item-selected .ant-segmented-item-label {
  @apply text-secondary;
}

.chart-card {
  @apply bg-white rounded-20 p-5;
}

.chart-title {
  @apply font-semibold text-[17px] text-[#0E132F] mb-[40px];
}

.modal-title {
  @apply font-semibold text-[25px] mb-0;
}

.modal-table {
  border-collapse: separate;
  border-spacing: 15px 25px;
  @apply table-auto w-full;
}

.modal-table th {
  @apply text-right font-inter font-medium w-0 whitespace-nowrap;
}

.overflow-modal {
  @apply overflow-y-auto h-[70vh] px-4
}

.input {
  @apply h-[40px] text-[16px] border-black;
}

.ant-select-selector {
  border-color: black !important;
  box-shadow: none !important;
}

.ant-upload-wrapper.ant-upload-picture-card-wrapper::before,
.ant-upload-wrapper .ant-upload-list::before,
.ant-upload-wrapper .ant-upload-list .ant-upload-list-item-container::before,
.ant-upload-wrapper.ant-upload-picture-card-wrapper::after {
  display: none;
}

.ant-upload-list-item-actions {
  @apply flex items-center justify-center;
}

/* .ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select {
  @apply border-none w-min mb-0;
}
.ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select {
  margin-inline-end: 0;
  vertical-align: baseline;
}

:where(.css-dev-only-do-not-override-z6wftn)[class^="ant-upload"]
  [class^="ant-upload"],
:where(.css-dev-only-do-not-override-z6wftn)[class*=" ant-upload"]
  [class^="ant-upload"] {
  height: 0px;
} */

.required::before {
  color: #ff0000;
  content: "*";
  display: inline;
  margin-right: 4px;
}

.ant-form-item .ant-form-item-explain-error {
  @apply text-[16px];
}

.ant-form-item {
  @apply mb-0;
}

.ant-tabs,
.ant-tabs .ant-tabs-content,
.ant-tabs .ant-tabs-tabpane {
  @apply h-full;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
  @apply justify-end;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  border-radius: 10px 10px 0 0;
  height: 40px;
  width: 100px;
  @apply justify-center;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: white;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  @apply border-none bg-transparent;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  @apply text-[#E0A184];
}

.ant-tabs .ant-tabs-tab .ant-tabs-tab-btn {
  @apply font-bold text-[14px] font-inter;
}

.ant-tabs-top > .ant-tabs-nav {
  @apply mb-0;
}

.ant-tooltip {
  @apply pb-0;
}

.tab-container {
  @apply w-full  bg-white rounded-10 rounded-tr-none p-5 overflow-y-auto;
}

.ant-modal-root .ant-modal-centered .ant-modal:not(.width-modal) {
  @apply min-w-fit
}
